.container {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 1em;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.fa-refresh {
  margin-right: 5px;
}
